<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="questapp.myapp" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="questapp.myapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="questapp.myapp.Quests"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="questapp.myapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="questapp.myapp.BanditsInTheWoodsActivity"
            android:label="@string/title_activity_bandits_in_the_woods"
            android:parentActivityName="questapp.myapp.Quests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DisplayMessageActivity" />
        </activity>
        <activity
            android:name="questapp.myapp.SpecialDeliveryActivity"
            android:label="@string/title_activity_special_delivery"
            android:parentActivityName="questapp.myapp.Quests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DisplayQuestsActivity" />
        </activity>
        <activity
            android:name="questapp.myapp.FilthyMongrelActivity"
            android:label="@string/title_activity_filthy_mongrel"
            android:parentActivityName="questapp.myapp.Quests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DisplayQuestsActivity" />
        </activity>
        <activity
            android:name="questapp.myapp.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="questapp.myapp.Quests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Quests" />
        </activity>
    </application>

</manifest>
